<div class="panel-header panel-header-sm"></div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Apex Firebase Branch</h4>
          <h6>Sample Apex Application for Demo purposes</h6>
          <p>
            Access Token Expires at <span style="color:red">{{ tokenexpirytime }}</span>
          </p>
          <p>
            Current Token <span style="color:red">{{ tokenid }}</span>
          </p>
          <p>
            Message received @ <span style="color:blue">{{ messageTime }}</span>
          </p>
          <p>
            Message From Apex:
            <span style="color:green" *ngIf="!!messageData">{{
              messageData.toUpperCase()
            }}</span>
          </p>
          
          <button (click)="changeIFrameApexPage(first_url)">Change Apex Page </button>
          <button (click)="changeIFrameApexPage(second_url)">Change Apex Page </button>

          
          
        </div>
        <div class="card-body">
          <div class="table-full-width table-responsive">
            <app-iframe></app-iframe>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
